<script>
$(() => {
  new window.PLSingleCsvUpload("{{uuid}}", {
    requiredColumns: {{&column_names_json}},
    fileName: "{{file_name}}",
    oldSubmission: "{{old_submission}}",
    oldColumnAssignments: {{&old_column_assignments_json}},
  });
});
</script>

<div id="single-csv-upload-{{uuid}}" {{#submission_files_url}}data-submission-files-url="{{submission_files_url}}"{{/submission_files_url}}>
  <input type="hidden" name="{{file_name}}" class="single-csv-upload-data" data-skip-unload-check="true">
  {{#editable}}
  <div class="upload-dropzone d-flex align-items-center justify-content-center p-3 mb-3 rounded">
    <div class="text-center dz-message">
      Please drop one CSV file into the box below, or click to select a file to upload.
      <br/>
      <small>You may only upload one file. Older files will be replaced.</small>
      <br/>
      <small>File size limit is 5MB.</small>
    </div>
  </div>
  {{/editable}}
  <div class="messages">
  </div>
  <div class="card mb-4 single-csv-upload-status">
    <div class="card-header">Match column names</div>
    <ul class="list-group list-group-flush">
      {{#column_names}}
      <li class="list-group-item">
        <div class="input-group single-csv-upload-select-group">
          <span class="input-group-text"> {{col_text}} </span>
          <select
            name="{{col_key}}"
            id="{{col_key}}-select"
            class="form-select"
            {{^editable}}disabled{{/editable}}
            aria-label="Column names for {{col_text}}"
          >
            <option value="{{uuid}}-placeholder" disabled selected data-content="{{uuid}}-placeholder">Upload something first</option>
          </select>
        </div>
      </li>
      {{/column_names}}
    </ul>
    <div class="card-footer d-flex" id="single-csv-upload-download-link-area-{{uuid}}"></div>
  </div>
</div>
