<script>
$(() => {
  new window.PLSingleCsvUpload("{{uuid}}", {
    requiredColumns: {{&column_names_json}},
    answerName: "{{name}}",
    fileName: "{{file_name}}",
  });
});
</script>

<div id="single-csv-upload-{{uuid}}" {{#submission_files_url}}data-submission-files-url="{{submission_files_url}}"{{/submission_files_url}}>
  <input type="hidden" name="{{name}}" class="single-csv-upload-data" data-skip-unload-check="true">
  {{#editable}}
  <div class="upload-dropzone d-flex align-items-center justify-content-center p-3 mb-3 rounded">
    <div class="text-center dz-message">
      Please drop one CSV file into the box below, or click to select a file to upload.
      <br/>
      <small>You may only upload one file. Older files will be replaced.</small>
      <br/>
      <small>File size limit is 5MB.</small>
    </div>
  </div>
  {{/editable}}
  <div class="messages">
  </div>
  <div class="single-csv-upload-status" style="margin-top: 1ex;">
    <div id="single-csv-upload-download-link-area-{{uuid}}" class="align-self-center"></div>
    <div class="card mb-4">
      <div class="card-header">Match Your Columns Names:</div>
      <ul class="list-group list-group-flush">
        {{#column_names}}
        <li class="list-group-item">
          <div class="input-group">
            <span class="input-group-text">{{col_text}}: </span>
            <div class="form-control">
              <select
                name="{{col_key}}"
                id="single-csv-upload-select-{{uuid}}-{{col_key}}"
                class="single-csv-upload-select"
                {{^editable}}disabled{{/editable}}
                aria-label="Column names for {{col_text}}"
              >
                <option value="{{uuid}}-placeholder" disabled selected data-content="{{uuid}}-placeholder"></option>
              </select>
            </div>
          </div>
        </li>
        {{/column_names}}
      </ul>
    </div>
  </div>
</div>
