[id^='single-csv-upload'] .upload-dropzone {
  min-height: 15ex;
  background-color: #fafdff;
  border: 2px dashed #0087f7;
}
[id^='single-csv-upload'] .upload-dropzone.dz-clickable {
  cursor: pointer;
}
[id^='single-csv-upload'] .upload-dropzone.dz-drag-hover {
  background-color: #d9edf7;
  border-style: solid;
}

[id^='single-csv-upload'] .file-status-icon {
  margin-right: 10px;
  transition: all 400ms;
}

[id^='single-csv-upload'] .file-status {
  margin-bottom: 0px;
  font-size: 0.8em;
  color: #999;
}

[id^='single-csv-upload'] .file-preview-icon {
  margin-left: 10px;
  transition: transform 400ms;
}

[id^='single-csv-upload'] .file-preview pre {
  max-height: 200px;
}
