[id^='single-csv-upload'] .upload-dropzone {
  min-height: 15ex;
  background-color: #fafdff;
  border: 2px dashed #0087f7;
}
[id^='single-csv-upload'] .upload-dropzone.dz-clickable {
  cursor: pointer;
}
[id^='single-csv-upload'] .upload-dropzone.dz-drag-hover {
  background-color: #d9edf7;
  border-style: solid;
}
